<h1>Mis Metas</h1>


<p>Unas de Mis Metas es poder aprender a tocar bien la bateria y asi poder adorar a Dios.</p>
<br></br>

<p>Otras de mis metas es ´poder aprender a jugar futbol y poder llegar a un nivel profecional en este deporte.</p>
<br></br>

<p>Poder Graduarme de mi Carrera que es uno de los deseos o metas principales de este año.</p>
<br></br>

<p>Poder entrar a una carrera de la universidad y mas que todo poder graduarme de la carrera no solo entrar sino que tambien salir.</p>
<br></br>

<p>Poder viajar junto a mi futura esposa al Pais de Italia viajar por toda Roma y poder conocer varios lugares turisticos.</p>
